{% extends 'base.html.twig' %}

{% block title %}Modifier {{ player.name }} - iTarot{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="mb-4"><i class="bi bi-pencil"></i> Modifier {{ player.name }}</h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check-circle"></i> Enregistrer
                        </button>
                        <a href="{{ path('app_player_index') }}" class="btn btn-secondary">
                            <i class="bi bi-x-circle"></i> Annuler
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
